body{
    font-family: 'Poppins', sans-serif, Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div_temas{
    display: block;
    padding-right: 4rem;
}
.elh4{
    padding-left: 5rem;
}
ul{
    list-style: none;
}
li{

    text-decoration: none;
}

.tema{
    background: rgb(134,114,68);
    background: linear-gradient(90deg, rgba(134,114,68,1) 0%, rgba(201,165,84,1) 41%, rgba(134,114,68,1) 100%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 8px;
}
.letra{
    color: white;
    text-decoration: none;
    

}

img {
    box-shadow: 1px 1px 7px #999;
    width: 80%;
}

h1{
    text-align: center;
    
    color: #ffffff;
    /*background-color: #24201e;*/
    background: rgb(3,3,3);
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(201,165,84,1) 50% 51%, rgba(0,0,0,1) 90%);
}

.tituloapple{
    font-size: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(99,95,95,1) 51%, rgba(0,0,0,1) 90%);
    margin-left: 1.5%;
    margin-right: 1.5%;
}

h2{
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 1.6rem;
}

.tablita{
    text-align: center;
    width: 100%;
}

.titulo{
    color: rgb(242, 242, 247);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(29,7,233,1) 51%, rgba(0,0,0,1) 90%);
    font-size: 30px;
    border-radius: 25px;
}


#titulo_huawei{
    color: rgb(242, 242, 247);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(233,7,7,1) 51%, rgba(0,0,0,1) 90%);
    font-size: 30px;
    border-radius: 25px;
}



.big_table{
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
    color: rgb(73, 75, 75);
    
}

.big_table tr{
    border: rgb(73, 75, 75)  solid;
    
    
}

.big_table td{
    padding-top:10px;
    padding-bottom: 10px;
}


.big_table .bt_th{
    
    text-align: center;
    padding: 10px;
    background-color: rgb(73, 75, 75);
    color: #ffffff;
    

}

.big_table td{
    text-align: left;
    padding-left: 10%;
}

.cajones{
    margin-top: 2.5rem;
    text-align: center;
}

.product_cell{
    text-align: center;
    box-shadow: 1px 1px 7px #999;
    width: 80%;
    padding: 3rem; 
    margin: 20px;
    width: 250px ;
    display: inline-block;
    vertical-align: middle;
    

}


/* .product_cell:hover{
    width: 350px;
    cursor: grab;
} */

.product_cell img:hover{
    opacity: 0.8;
    
}

.laptop > h3 {
    color: blue;
}
.laptop > h4 {
    color:cadetblue;
    text-align: center;
}

.celular > h3 {
    color: red;
    
}
.celular > h4{
    color: rgb(75, 8, 8);
    text-align: left;
}

.auricular > h3{
    color: green;
}

.auricular > h4{
    color: rgb(6, 43, 6);
    text-align: right;
}

/*Formulario*/

.div_form{
    width: 400px;
    margin: 20px auto;   
}

.div_form  input{
    height: 40px;
    border-radius: 20px;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.div_form > form > input:focus{
    border: 1px solid blue;
}

.div_form > form > button{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 32%;
    outline: none;
}

.div_form > form > button:hover{
    height: 40px;
    border: 1 px solid #666;
    border-radius: 20px;
}

.div_form > form > button:focus{
    border: 2px solid red;
}


.price::before{
    content: "$ ";
}

.price::after{
    content: ".00";
}

@media(min-width:600px){

    .cajita{
        width: 28%;
    }
}

@media(min-width:900px){
    
    .tema{
        display: inline-block;
        margin-left: 2%;
        padding: 15px;

    }
    .letra{
        padding-left: 20px;
        padding-right: 20px;
    }
    .cajita{
        width: 18%;
    }
}